.shape {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 0;
    opacity: 0.5;
    transition:
        border-radius 1s 1s ease-in,
        background 1s ease-out,
        opacity 1s,
        transform 0.3s,
        height 1s,
        width 1s;
    cursor: pointer;
}
.shape:hover {
    opacity: 1;
    transform: translateX(30px);
}

.shape.clicked {
    opacity: 1;
    border-radius: 50%;
    background: navy;
}
