.shape {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 0;
    opacity: 0.5;
    transition:
        border-radius 1s 1s ease-in,
        background 1s ease-out,
        opacity 1s,
        transform 0.3s,
        height 1s,
        width 1s;
    cursor: pointer;
}
.shape:hover {
    opacity: 1;
    transform: translateX(30px);
}

.shape.clicked {
    opacity: 1;
    border-radius: 50%;
    background: navy;
}

/* CSS animation keyframes */
.animated-shape {
    display: block;
    border-radius: 50%;
    background: greenyellow;
    height: 100px;
    width: 100px;
    opacity: 1;
}

.animated-shape.clicked {
    animation-name: animate-my-thing;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes animate-my-thing {
    20% {
        background: blue;
    }
    50% {
        background: brown;
        transform: translateX(30px);
    }
    80% {
        background: pink;
    }
    100% {
        background: black;
    }
}

/* Sunrise animation */
body {
    background: skyblue;
    height: 200vh;
    margin: 0;
    padding: 0;
}

.cloud {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: fixed;
    top: 30vh;
    left: 15vw;
    display: block;
}

.horizon {
    background: green;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 80vh;
    z-index: 10;
}

.sun {
    width: 500px;
    height: 200px;
    background: yellow;
    position: absolute;
    top: 90vh;
    left: 20%;
    transition: top 2s;
    border-radius: 50%;
}

.sun.sunrise {
    top: 70vh;
}
