.shape {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 0;
    transition:
        background 3s linear 3s,
        border-radius 3s ease-out,
        transform 2s ease-in;
    cursor: crosshair;
}
.shape:hover {
    transform: translateX(300px);
}

.shape.clicked {
    border-radius: 50%;
    background: navy;
}

/* CSS animation keyframes */
.animated-shape {
    display: block;
    border-radius: 50%;
    background: rgba(182, 251, 78, 0.707);
    height: 200px;
    width: 200px;
}

.animated-shape.clicked {
    animation-name: animate-my-thing;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes animate-my-thing {
    10% {
        background: red;
    }
    20% {
        background: blue;
    }
    50% {
        transform: translateX(200px);
        background: brown;
    }
    80% {
        background: pink;
    }
    100% {
        transform: translateX(300px);
        background: black;
    }
}

/* Sunrise animation */
body {
    background: rgba(15, 47, 79, 1);
    height: 180vh;
    margin: 0;
    padding: 0;
}

body.rise {
    animation-name: sunrise;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.horizon {
    background: green;
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 110vh;
    z-index: 10;
}

.sun {
    width: 80vw;
    height: 50vh;
    background: yellow;
    position: absolute;
    top: 120vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 2s;
}

.sun.rise {
    top: 80vh;
}

.cloud {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: fixed;
    top: 30vh;
    left: 15vw;
    display: block;
}

@keyframes sunrise {
    20% {
        background: rgba(131, 58, 180, 1);
    }

    50% {
        background: rgba(245, 135, 135, 1);
    }

    70% {
        background: rgba(252, 176, 69, 1);
    }
    100% {
        background: rgba(32, 202, 232, 1);
    }
}
